.outer-container {
    padding: 0;
    background: linear-gradient(129.48deg, #E58491 -5.33%, #BE6C78 98.24%);
    border-bottom-left-radius: 100px;
    overflow: hidden;
}

.outer-container > .inner-container {
    background: linear-gradient(172.39deg, rgba(156, 87, 97, 0) 24.68%, rgba(132, 60, 72, 0.62) 125.02%);
    display: grid;
    grid-template-columns: 1fr;
}

.inner-container > .description-container {
    padding: 0 28px;
}

.inner-container > .description-container > .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.inner-container > .description-container > .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.inner-container > .description-container > .button {
    width: 100%;
    background: #66AFAB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    padding: 16px 33px;
    margin-top: 19px;
}

.inner-container > .image {
    width: 100%;
    aspect-ratio: 1;
}

@media only screen and (min-width: 1024px) {

    .outer-container {
        padding-left: 139px;
        border-bottom-left-radius: 150px; 
    }

    .outer-container > .inner-container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        border-bottom-left-radius: 150px; 
    }

    .inner-container > .description-container {
        padding: 0;
        padding-left: 163px;
    }

    .inner-container > .description-container > .title {
        width: 527px;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #FFFFFF;
    }

    .inner-container > .description-container > .description {
        width: 430px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .inner-container > .description-container > .button {
        width: 281px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

}

