.filter-container {
    display: flex;
    flex-direction: column;
    margin: 0 28px;
    margin-top: 62px;
}

.filter-container > .filter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: capitalize;
    color: #A6A6A6;
}

.filter-container > .filter-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-container > .filter-content > p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #8B8B8B;
}

.filter-container > .filter-content > .input-container {
    width: 100%;
    height: 58px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(214, 214, 214, 0.62);
    border-radius: 8px;
}

.filter-container > .filter-content > .input-container > .image {
    margin-left: 8px;
}

.filter-container > .filter-content > .input-container > .input {
    flex: 1;
    background: transparent;
    border: none;
    margin: 0 8px;
    font-style: 'normal';
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    text-transform: lowercase;
    color: #949494;
    outline: none;
}

.filter-container > .filter-content > .input-container > .input::placeholder {
    font-style: italic;
    font-weight: 275;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #949494;
}

.filter-container > .filter-content > .btn {
    width: 100%;
    background: transparent;
    border: none;
    height: 58px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

.filter-container > .filter-content > .btn-filters {
    background: #FFFFFF;
    color: #66AFAB;
    margin-top: 39px;
}

.filter-container > .filter-content > .btn-find-clinic {
    background: #66AFAB;
    color: #FFFFFF;
    margin-top: 27px;
}

@media only screen and (min-width: 1024px) {

    .filter-container {
        margin-top: 130px;
    }

    .filter-container > .filter-title {
        font-size: 50px;
        line-height: 61px;
        color: #66AFAB;
    }

    .filter-container > .filter-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .filter-container > .filter-content > p {
        font-size: 18px;
        line-height: 22px;
    }

    .filter-container > .filter-content > .input-container {
        width: auto;
    }

    .filter-container > .filter-content > .input-search {
        margin: 0 9px;
    }

    .filter-container > .filter-content > .input-locations {
        margin-left: 9px;
    }

    .filter-container > .filter-content > .input-container > .input {
        font-size: 18px;
        line-height: 22px;
    }

    .filter-container > .filter-content > .btn {
        width: 204px;
        margin: 0;
    }

    .filter-container > .filter-content > .btn-filters {
        margin-left: 14px;
    }
    
    .filter-container > .filter-content > .btn-find-clinic {
        margin-left: 19px;
    }
}