.footer-container {
position: absolute;
margin-top: 0px;
margin-left: 0px;

background: linear-gradient(98.26deg, #5ECFD3 17.34%, #66AFAB 99.48%);
}
.footer-container > .filter-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    text-align: left;
    text-transform: capitalize;
    color: #079e41;
}
