.header {
    background: linear-gradient(129.48deg, #E58491 -5.33%, #BE6C78 98.24%);
    padding: 19px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > .logo {
    width: 103px;
}

.header > .link-container {
    display: none;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 21px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .profile-and-search-container {
    display: none;
}

.header > .menu {
    width: 35px;
    height: 22px;
    color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
    .header {
        padding: 30px 302px;
    }

    .header > .link-container {
        display: flex;
    }

    .header > .profile-and-search-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .header > .profile-and-search-container > .search-container {
        height: 38px;
        width: 224px;
        background: rgba(255, 255, 255, 0.14);
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 4px 8px;
    }

    .header > .menu {
        display: none;
    }

    .search-container > .search-input {
        flex: 1;
        background-color: transparent;
        outline: none;
        border: none;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.2px;
        font-family: 'Montserrat';
    }

    .search-container > .search-input::placeholder {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.2px;
        font-family: 'Montserrat';
        text-transform: lowercase;
    }
}

