.listed-container {
    display: flex;
    background-color: #ffffff;;
    margin: 0 28px;
    margin-top: 62px;
    margin-left: 0px;
}

.listed-container > .filter-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    text-align: left;
    text-transform: capitalize;
    color: #079e41;
}
