.nextParagraph-container {
    display: flex;
    flex-direction: column;
    margin: 0 28px;
    margin-top: 62px;
    margin-left: 100px;
}

.nextParagraph-container > .filter-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    text-align: left;
    text-transform: capitalize;
    color: #079e41;
}

