.recently-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
}

.recently-container > .box-recently-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.recently-container > .box-recently-container > img {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


