.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.services-container > .box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.services-container > .box-container > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.services-container > .details-container {
    width: 100%;
    position: relative;
}

.services-container > .details-container > .details-content {
    display: flex;
    flex-direction: column;
    margin: 0 29px;
}

.services-container > .details-container > .details-content > .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #66AFAB;
    margin-top: 80px;
}

.services-container > .details-container > .details-content > .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #A2A2A2;
    margin-right: 39px;
}

.services-container > .details-container > .details-content > button {
    height: 58px;
    border: none;
    background: #66AFAB;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.services-container > .details-container > .image-services {
    width: 49px;
    position: absolute;
    top: 0;
    right: 30px;
}

.services-container > .box-container > .image-rectangle {
    width: 194px;
    position: absolute;
    top: 0;
    height: 324px;
    margin-left: 129px;
}

.services-container > .box-container > .image-rectangle2 {
    width: 124px;
    position: absolute;
    top: 0;
    height: 224px;
    margin-left: 323px;
    margin-top: 324px;
}

.services-container > .box-container > .image-women2 {
    position: absolute;
    margin-left: 149px;
    margin-top: 49px;
}

@media only screen and (min-width: 1024px) {
    
    .services-container {
        grid-template-columns: 1fr 1fr;
    }

    .services-container > .details-container > .details-content {
        margin: 0;
        margin-right: 139px;
    }
    
    .services-container > .details-container > .details-content > .title {
        font-size: 50px;
        line-height: 61px;
    }
    
    .services-container > .details-container > .details-content > .description {
        font-size: 16px;
        line-height: 25px;
    }
    
    .services-container > .details-container > .details-content > button {
        width: 239px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

}